body {
  background-color: beige;
  color: brown;
  width: 50vw;
  height: 80vh;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

h1 {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.pizzas {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  row-gap: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
  padding-top: 32px;
}

.page {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

img {
  height: 300px;
  width: 250px;
}

.pizza-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
